<div>
  <div class="row border-bottom bd-lightGray m-3" style="margin-top:52px !important;">
    <div class="cell-md-4 d-flex flex-align-center">
      <h3 class="dashboard-section-title  text-center text-left-md w-100">Produits</h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
      <ul class="breadcrumbs bg-transparent">
        <li class="page-item"><a (click)="getOffers()" class="page-link">Actualiser <span class="icon"><span class="mif-refresh"></span></span></a></li>
      </ul>
    </div>
  </div>

  <div class="m-3"
       infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollUpDistance]="scrollUpDistance"
       [infiniteScrollThrottle]="throttle"
       (scrolled)="onScrollDown($event)"
       (scrolledUp)="onUp($event)"
       [infiniteScrollContainer]="'.main-panel'"
       [alwaysCallback]="true">
    <div class="row">
      <div class="cell-3">
        <input type="text" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Recherche">
      </div>
    </div>

    <div class="row mt-2 main-panel" style="max-height: 300px; overflow-y: auto">
      <table class="table cell-border compact table-border"
      >
        <thead>
        <tr>
          <th data-sortable="true" data-sort-dir="asc" data-name="id">#</th>
          <th data-sortable="true" data-name="name">Nom</th>
          <th data-sortable="true" data-name="amount">Montant</th>
          <th data-sortable="true" data-name="vendeur">Vendeur</th>
          <th data-sortable="true" data-name="color">Couleur</th>
          <th data-sortable="true" data-name="categorie">Catégorie</th>
          <th data-sortable="true" data-name="marque">Marque</th>
          <th data-sortable="true" data-name="status">Statut</th>
          <th data-sortable="true" data-name="created_at">Créé le</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of offers;trackBy:trackByIndex |filter:{ id: search, name: search, vendeur: search, amount: search, color: search, categorie: search, marque: search, status: search, created_at: search, updated_at: search} : false"
            [ngClass]="{'bg-rouge fg-white':i.status!='enable'}">
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.amount |priceFormat}}</td>
          <td>{{i.vendeur}}</td>
          <td>{{i.color}}</td>
          <td>{{i.categorie}}</td>
          <td>{{i.marque}}</td>
          <td>{{i.status | status}}</td>
          <td>{{i.created_at}}</td>
          <td>
            <button class="button mini" (click)="showDetail(i)"><span class="mif-eye"></span></button>
            <button *ngIf="i.status!='enable'" class="button mini" (click)="validateOffer(i, 'enable')" m4-hint="Valider le produit"><span class="mif-checkmark"></span></button>
            <button *ngIf="i.status=='enable'" class="button mini" (click)="validateOffer(i, 'rejected')" m4-hint="Rejeter le produit"><span class="mif-cross"></span></button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="dialog" data-role="dialog" id="dialog" data-width="80%">
  <div class="dialog-title">Détail du produit</div>
  <div class="dialog-content">
    <div class="row">
      <div class="cell-6">
        <div><strong>Nom :</strong> {{offer.name}} </div>
        <div><strong>Montant :</strong> {{offer.amount| priceFormat}} FCFA  </div>
        <div><strong>Vendeur :</strong> {{offer.vendeur}}</div>
        <div><strong>Couleur :</strong> {{offer.color}} </div>
        <div><strong>Description :</strong> {{offer.description}} </div>
        <div><strong>Catégorie :</strong> {{offer.categorie}} </div>
        <div><strong>Marque :</strong> {{offer.marque}} </div>
        <div><strong>Localisation :</strong> {{offer.location.district}} - {{offer.location.town.name}} </div>
        <div><strong>Statut :</strong> {{offer.status|status}} </div>
      </div>

      <div class="cell-6">
        <strong>Image(s)</strong>
        <div class="cell-6" *ngFor="let i of offer.images">
          <img src="{{i.url}}" alt="" style="width: 100%">
        </div>
      </div>
    </div>


  </div>

  <div class="dialog-actions text-right">
    <button class="button primary js-dialog-close bg-noir">Fermer</button>
  </div>
</div>
